:root {
  /* colors */
  --color-bg: #202423;
  --color-text: #757164;
  --color-primary: #daff7d;
  --color-secondary: #6e877b;
  --color-tertiary: #e3d8f1;
  /* fonts */
  --font-family-primary: 'Chillax-Variable';
  --font-family-primary-light: 'Chillax-Light';
  --font-family-primary-regular: 'Chillax-Regular';
  --font-family-primary-medium: 'Chillax-Medium';
  --font-family-primary-semibold: 'Chillax-Semibold';
  --font-family-primary-bold: 'Chillax-Bold';
  --font-family-secondary: 'Synonym-Variable';
  --font-family-secondary-extralight: 'Synonym-Extralight';
  --font-family-secondary-light: 'Synonym-Light';
  --font-family-secondary-regular: 'Synonym-Regular';
  --font-family-secondary-medium: 'Synonym-Medium';
  --font-family-secondary-semibold: 'Synonym-Semibold';
  --font-family-secondary-bold: 'Synonym-Bold';
  --font-size-base: 16;
  --font-rule: 1.5;
}
