/* pallette colors based in css vars */

$blue90: var(--blue90);
$blue80: var(--blue80);
$blue70: var(--blue70);
$blue60: var(--blue60);
$blue50: var(--blue50);
$blue40: var(--blue40);
$blue30: var(--blue30);
$blue20: var(--blue20);
$blue10: var(--blue10);
$blue5: var(--blue5);
$blue0: var(--blue0);

$sky90: var(--sky90);
$sky80: var(--sky80);
$sky70: var(--sky70);
$sky60: var(--sky60);
$sky50: var(--sky50);
$sky40: var(--sky40);
$sky30: var(--sky30);
$sky20: var(--sky20);
$sky10: var(--sky10);
$sky5: var(--sky5);
$sky0: var(--sky0);

$teal90: var(--teal90);
$teal80: var(--teal80);
$teal70: var(--teal70);
$teal60: var(--teal60);
$teal50: var(--teal50);
$teal40: var(--teal40);
$teal30: var(--teal30);
$teal20: var(--teal20);
$teal10: var(--teal10);
$teal5: var(--teal5);
$teal0: var(--teal0);

$red90: var(--red90);
$red80: var(--red80);
$red70: var(--red70);
$red60: var(--red60);
$red50: var(--red50);
$red40: var(--red40);
$red30: var(--red30);
$red20: var(--red20);
$red10: var(--red10);
$red5: var(--red5);
$red0: var(--red0);

$orange90: var(--orange90);
$orange80: var(--orange80);
$orange70: var(--orange70);
$orange60: var(--orange60);
$orange50: var(--orange50);
$orange40: var(--orange40);
$orange30: var(--orange30);
$orange20: var(--orange20);
$orange10: var(--orange10);
$orange5: var(--orange5);
$orange0: var(--orange0);

$purple90: var(--purple90);
$purple80: var(--purple80);
$purple70: var(--purple70);
$purple60: var(--purple60);
$purple50: var(--purple50);
$purple40: var(--purple40);
$purple30: var(--purple30);
$purple20: var(--purple20);
$purple10: var(--purple10);
$purple5: var(--purple5);
$purple0: var(--purple0);

$green90: var(--green90);
$green80: var(--green80);
$green70: var(--green70);
$green60: var(--green60);
$green50: var(--green50);
$green40: var(--green40);
$green30: var(--green30);
$green20: var(--green20);
$green10: var(--green10);
$green5: var(--green5);
$green0: var(--green0);

$cyan90: var(--cyan90);
$cyan80: var(--cyan80);
$cyan70: var(--cyan70);
$cyan60: var(--cyan60);
$cyan50: var(--cyan50);
$cyan40: var(--cyan40);
$cyan30: var(--cyan30);
$cyan20: var(--cyan20);
$cyan10: var(--cyan10);
$cyan5: var(--cyan5);
$cyan0: var(--cyan0);

$black: var(--black);
$grey80: var(--grey80);
$grey70: var(--grey70);
$grey60: var(--grey60);
$grey50: var(--grey50);
$grey40: var(--grey40);
$grey30: var(--grey30);
$grey20: var(--grey20);
$grey10: var(--grey10);
$grey5: var(--grey5);
$grey0: var(--grey0);
$white: var(--white);

/* white and black hex*/
$whiteHex: #FFFFFF; 
$blackHex: #000000;

