@use "sass:math";

/* family */

$museoSans: 'MuseoSans', Helvetica, Arial, sans-serif;
$fontIcon: 'Frontiers-Iconography-Next' !important;

/* weight */

$extraBold: 900;
$bold: 700;
$medium: 500;
$light: 300;

/* size */
$basePx: 16; // this base is set in root main file

@mixin f-96 {
  font-size: math.div(96, $basePx) + #{rem};
  line-height: math.div(116, $basePx) + #{rem};
}

@mixin f-96-700 {
  @include f-96;
  font-weight: 700;
}
$f-96-700: 700 #{math.div(96, $basePx) + #{rem}}/#{math.div(116, $basePx) + #{rem}} var(--museo-font); 

@mixin f-96-500 {
  @include f-96;
  font-weight: 500;
}
$f-96-500: 500 #{math.div(96, $basePx) + #{rem}}/#{math.div(116, $basePx) + #{rem}} var(--museo-font); 

@mixin f-96-300 {
  @include f-96;
  font-weight: 300;
}
$f-96-300: 300 #{math.div(96, $basePx) + #{rem}}/#{math.div(116, $basePx) + #{rem}} var(--museo-font); 

@mixin f-72 {
  font-size: math.div(72, $basePx) + #{rem};
  line-height: math.div(86, $basePx) + #{rem};
}

@mixin f-72-700 {
  @include f-72;
  font-weight: 700;
}
$f-72-700: 700 #{math.div(72, $basePx) + #{rem}}/#{math.div(86, $basePx) + #{rem}} var(--museo-font); 

@mixin f-72-500 {
  @include f-72;
  font-weight: 500;
}
$f-72-700: 500 #{math.div(72, $basePx) + #{rem}}/#{math.div(86, $basePx) + #{rem}} var(--museo-font);

@mixin f-72-300 {
  @include f-72;
  font-weight: 300;
}
$f-72-700: 300 #{math.div(72, $basePx) + #{rem}}/#{math.div(86, $basePx) + #{rem}} var(--museo-font);

@mixin f-64 {
  font-size: math.div(64, $basePx) + #{rem};
  line-height: math.div(76, $basePx) + #{rem};
}

@mixin f-64-700 {
  @include f-64;
  font-weight: 700;
}
$f-64-700: 700 #{math.div(64, $basePx) + #{rem}}/#{math.div(76, $basePx) + #{rem}} var(--museo-font);

@mixin f-64-500 {
  @include f-64;
  font-weight: 500;
}
$f-64-700: 500 #{math.div(64, $basePx) + #{rem}}/#{math.div(76, $basePx) + #{rem}} var(--museo-font);

@mixin f-64-300 {
  @include f-64;
  font-weight: 300;
}
$f-64-700: 300 #{math.div(64, $basePx) + #{rem}}/#{math.div(76, $basePx) + #{rem}} var(--museo-font);

@mixin f-56 {
  font-size: math.div(56, $basePx) + #{rem};
  line-height: math.div(67, $basePx) + #{rem};
}

@mixin f-56-700 {
  @include f-56;
  font-weight: 700;
}
$f-56-700: 700 #{math.div(56, $basePx) + #{rem}}/#{math.div(67, $basePx) + #{rem}} var(--museo-font);

@mixin f-56-500 {
  @include f-56;
  font-weight: 500;
}
$f-56-500: 500 #{math.div(56, $basePx) + #{rem}}/#{math.div(67, $basePx) + #{rem}} var(--museo-font);

@mixin f-56-300 {
  @include f-56;
  font-weight: 300;
}
$f-56-300: 300 #{math.div(56, $basePx) + #{rem}}/#{math.div(67, $basePx) + #{rem}} var(--museo-font);

@mixin f-48 {
  font-size: math.div(48, $basePx) + #{rem};
  line-height: math.div(58, $basePx) + #{rem};
}

@mixin f-48-700 {
  @include f-48;
  font-weight: 700;
}
$f-48-700: 700 #{math.div(48, $basePx) + #{rem}}/#{math.div(58, $basePx) + #{rem}} var(--museo-font);

@mixin f-48-500 {
  @include f-48;
  font-weight: 500;
}
$f-48-500: 500 #{math.div(48, $basePx) + #{rem}}/#{math.div(58, $basePx) + #{rem}} var(--museo-font);

@mixin f-48-300 {
  @include f-48;
  font-weight: 300;
}
$f-48-300: 300 #{math.div(48, $basePx) + #{rem}}/#{math.div(58, $basePx) + #{rem}} var(--museo-font);

@mixin f-40 {
  font-size: math.div(40, $basePx) + #{rem};
  line-height: math.div(56, $basePx) + #{rem};
}

@mixin f-40-700 {
  @include f-40;
  font-weight: 700;
}
$f-40-700: 700 #{math.div(40, $basePx) + #{rem}}/#{math.div(56, $basePx) + #{rem}} var(--museo-font);

@mixin f-40-500 {
  @include f-40;
  font-weight: 500;
}
$f-40-500: 500 #{math.div(40, $basePx) + #{rem}}/#{math.div(56, $basePx) + #{rem}} var(--museo-font);

@mixin f-40-300 {
  @include f-40;
  font-weight: 300;
}
$f-40-300: 300 #{math.div(40, $basePx) + #{rem}}/#{math.div(56, $basePx) + #{rem}} var(--museo-font);

@mixin f-32 {
  font-size: math.div(32, $basePx) + #{rem};
  line-height: math.div(44, $basePx) + #{rem};
}

@mixin f-32-700 {
  @include f-32;
  font-weight: 700;
}
$f-32-700: 700 #{math.div(32, $basePx) + #{rem}}/#{math.div(44, $basePx) + #{rem}} var(--museo-font);

@mixin f-32-500 {
  @include f-32;
  font-weight: 500;
}
$f-32-500: 500 #{math.div(32, $basePx) + #{rem}}/#{math.div(44, $basePx) + #{rem}} var(--museo-font);

@mixin f-32-300 {
  @include f-32;
  font-weight: 300;
}
$f-32-300: 300 #{math.div(32, $basePx) + #{rem}}/#{math.div(44, $basePx) + #{rem}} var(--museo-font);

@mixin f-28 {
  font-size: math.div(28, $basePx) + #{rem};
  line-height: math.div(39, $basePx) + #{rem};
}

@mixin f-28-700 {
  @include f-28;
  font-weight: 700;
}
$f-28-700: 700 #{math.div(28, $basePx) + #{rem}}/#{math.div(39, $basePx) + #{rem}} var(--museo-font);

@mixin f-28-500 {
  @include f-28;
  font-weight: 500;
}
$f-28-500: 500 #{math.div(28, $basePx) + #{rem}}/#{math.div(39, $basePx) + #{rem}} var(--museo-font);

@mixin f-28-300 {
  @include f-28;
  font-weight: 300;
}
$f-28-300: 300 #{math.div(28, $basePx) + #{rem}}/#{math.div(39, $basePx) + #{rem}} var(--museo-font);

@mixin f-24 {
  font-size: math.div(24, $basePx) + #{rem};
  line-height: math.div(33, $basePx) + #{rem};
}

@mixin f-24-700 {
  @include f-24;
  font-weight: 700;
}
$f-24-700: 700 #{math.div(24, $basePx) + #{rem}}/#{math.div(33, $basePx) + #{rem}} var(--museo-font);

@mixin f-24-500 {
  @include f-24;
  font-weight: 500;
}
$f-24-500: 500 #{math.div(24, $basePx) + #{rem}}/#{math.div(33, $basePx) + #{rem}} var(--museo-font);

@mixin f-24-300 {
  @include f-24;
  font-weight: 300;
}
$f-24-300: 300 #{math.div(24, $basePx) + #{rem}}/#{math.div(33, $basePx) + #{rem}} var(--museo-font);

@mixin f-20 {
  font-size: math.div(20, $basePx) + #{rem};
  line-height: math.div(28, $basePx) + #{rem};
}

@mixin f-20-700 {
  @include f-20;
  font-weight: 700;
}
$f-20-700: 700 #{math.div(20, $basePx) + #{rem}}/#{math.div(28, $basePx) + #{rem}} var(--museo-font);

@mixin f-20-500 {
  @include f-20;
  font-weight: 500;
}
$f-20-500: 500 #{math.div(20, $basePx) + #{rem}}/#{math.div(28, $basePx) + #{rem}} var(--museo-font);

@mixin f-20-300 {
  @include f-20;
  font-weight: 300;
}
$f-20-300: 300 #{math.div(20, $basePx) + #{rem}}/#{math.div(28, $basePx) + #{rem}} var(--museo-font);

@mixin f-18 {
  font-size: math.div(18, $basePx) + #{rem};
  line-height: math.div(28, $basePx) + #{rem};
}

@mixin f-18-700 {
  @include f-18;
  font-weight: 700;
}
$f-18-700: 700 #{math.div(18, $basePx) + #{rem}}/#{math.div(28, $basePx) + #{rem}} var(--museo-font);

@mixin f-18-500 {
  @include f-18;
  font-weight: 500;
}
$f-18-500: 500 #{math.div(18, $basePx) + #{rem}}/#{math.div(28, $basePx) + #{rem}} var(--museo-font);

@mixin f-18-300 {
  @include f-18;
  font-weight: 300;
}
$f-18-300: 300 #{math.div(18, $basePx) + #{rem}}/#{math.div(28, $basePx) + #{rem}} var(--museo-font);

@mixin f-16 {
  font-size: math.div(16, $basePx) + #{rem};
  line-height: math.div(22, $basePx) + #{rem};
}

@mixin f-16-700 {
  @include f-16;
  font-weight: 700;
}
$f-16-700: 700 #{math.div(16, $basePx) + #{rem}}/#{math.div(22, $basePx) + #{rem}} var(--museo-font);

@mixin f-16-500 {
  @include f-16;
  font-weight: 500;
}
$f-16-500: 500 #{math.div(16, $basePx) + #{rem}}/#{math.div(22, $basePx) + #{rem}} var(--museo-font);

@mixin f-16-300 {
  @include f-16;
  font-weight: 300;
}
$f-16-300: 300 #{math.div(16, $basePx) + #{rem}}/#{math.div(22, $basePx) + #{rem}} var(--museo-font);

@mixin f-14 {
  font-size: math.div(14, $basePx) + #{rem};
  line-height: math.div(20, $basePx) + #{rem};
}

@mixin f-14-700 {
  @include f-14;
  font-weight: 700;
}
$f-14-700: 700 #{math.div(14, $basePx) + #{rem}}/#{math.div(20, $basePx) + #{rem}} var(--museo-font);

@mixin f-14-500 {
  @include f-14;
  font-weight: 500;
}
$f-14-500: 500 #{math.div(14, $basePx) + #{rem}}/#{math.div(20, $basePx) + #{rem}} var(--museo-font);

@mixin f-14-300 {
  @include f-14;
  font-weight: 300;
}
$f-14-300: 300 #{math.div(14, $basePx) + #{rem}}/#{math.div(20, $basePx) + #{rem}} var(--museo-font);

@mixin f-12 {
  font-size: math.div(12, $basePx) + #{rem};
  line-height: math.div(17, $basePx) + #{rem};
}

@mixin f-12-700 {
  @include f-12;
  font-weight: 700;
}
$f-12-700: 700 #{math.div(12, $basePx) + #{rem}}/#{math.div(17, $basePx) + #{rem}} var(--museo-font);

@mixin f-12-500 {
  @include f-12;
  font-weight: 500;
}
$f-12-500: 500 #{math.div(12, $basePx) + #{rem}}/#{math.div(17, $basePx) + #{rem}} var(--museo-font);

@mixin f-12-300 {
  @include f-12;
  font-weight: 300;
}
$f-12-300: 300 #{math.div(12, $basePx) + #{rem}}/#{math.div(17, $basePx) + #{rem}} var(--museo-font);

@mixin f-10 {
  font-size: math.div(10, $basePx) + #{rem};
  line-height: math.div(14, $basePx) + #{rem};
}

@mixin f-10-700 {
  @include f-10;
  font-weight: 700;
}
$f-10-700: 700 #{math.div(10, $basePx) + #{rem}}/#{math.div(14, $basePx) + #{rem}} var(--museo-font);

@mixin f-10-500 {
  @include f-10;
  font-weight: 500;
}
$f-10-500: 500 #{math.div(10, $basePx) + #{rem}}/#{math.div(14, $basePx) + #{rem}} var(--museo-font);

@mixin f-10-300 {
  @include f-10;
  font-weight: 300;
}
$f-10-300: 300 #{math.div(10, $basePx) + #{rem}}/#{math.div(14, $basePx) + #{rem}} var(--museo-font);

