@use "sass:math";

// :root {
//   --layout-max-width: 100vw;
//   --layout-margin: 32px;
//   --layout-gap: 32px;
//   --layout-total-column: 8;
// }

@function getGridWidth($selectedColumns: 1) {
  $totalMargin: calc(var(--layout-margin) * 2);
  $totalGap: calc(var(--layout-gap) * (var(--layout-total-columns) - 1));
  $totalColumn: calc(var(--layout-max-width) - $totalMargin - $totalGap);
  $oneCol: calc($totalColumn/ var(--layout-total-columns));
  $selectedCol: calc($oneCol * $selectedColumns);
  $selectedGap: calc(var(--layout-gap) * ($selectedColumns - 1));
  @return calc($selectedCol + $selectedGap);
}

@function getGridHeight($selectedColumns: 1) {
  $totalMargin: calc(var(--layout-margin) * 2);
  $totalGap: calc(var(--layout-gap) * (var(--layout-total-rows) - 1));
  $totalColumn: calc(var(--layout-max-height) - $totalMargin - $totalGap);
  $oneCol: calc($totalColumn/ var(--layout-total-rows));
  $selectedCol: calc($oneCol * $selectedColumns);
  $selectedGap: calc(var(--layout-gap) * ($selectedColumns - 1));
  @return calc($selectedCol + $selectedGap);
}

@function customLighten($color-variable, $value) {
  $color-variable-h: var(#{$color-variable + "-h"});
  $color-variable-s: var(#{$color-variable + "-s"});
  $color-variable-l: calc(var(#{$color-variable + "-l"}) - #{$value});
  @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
}

@function getRemUnits($size: 16) {
  @return calc($size / var(--font-size-base) * 1rem);
}
