@mixin cardResearchTopicHorizontalMode() {
  
  @media #{$break-md} {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 320px;
    height: 188px;
  }

  @media #{$break-sm} {
    height: 204px;
  }

  @media #{$break-xs} {
    flex-direction: column;
    max-height: none;
    height: auto;
  }  
  
  &__mask {

    @media #{$break-md} {
      flex: 0 0 var(--layout-col-8);
    }
  
    @media #{$break-sm} {
      flex: 0 0 var(--layout-col-6);
    }
  
    @media #{$break-xs} {
      flex: 0 0 auto;
      width: 100%;
    } 
  }

  &__flex {
    
    @media #{$break-md} {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  &__editors {

    @media #{$break-md} {
      @include clamp(1);
    }

    @media #{$break-xs} {
      @include clamp(3);
    }
  }

  &__title {

    @media #{$break-md} {
      margin-bottom: 0;
    }

    @media #{$break-xs} {
      margin-bottom: 24px;
    }
  }
}

@mixin cardArticleRTCommonCarouselModifications() {

  &__info {

    @media #{$break-md} {
      height: 420px;
      padding: 16px;
    }

    @media #{$break-sm} {
      height: 402px;
      padding: 16px;
    }

    @media #{$break-xs} {
      height: auto;
      padding: 24px 32px;
    }
  }

  &__metrics {

    @media #{$break-md} {
      padding: 0 16px;
    }

    @media #{$break-sm} {
      padding: 0 16px;
    }

    @media #{$break-xs} {
      padding: 0 32px;
    }
  }
}

@mixin cardEditorInfoRow() {
  &__wrapper {
    padding: 24px 32px;
    background: $white;
    
    @media #{$break-md} {
      padding: 16px 24px;
    }

    @media #{$break-sm} {
      padding: 16px 16px 8px;
    }

    @media #{$break-xs} {
      padding: 16px 24px 8px;
    }
  }

  &__info {
    flex-direction: row;
    padding:0;
    padding-bottom: 16px;
    align-items: flex-start;
    min-height: 0;
    border-bottom: 1px solid $grey20;

    @media #{$break-xs} {
      flex-direction: column;
      align-items: center;
    }
  }

  &__mask {
    margin-right: 32px;
    margin-bottom: 0;
    flex-shrink: 0;

    @media #{$break-laptop} {
      margin-right: 16px;
    }

    @media #{$break-md} {
      margin-right: 24px;
    }

    @media #{$break-sm} {
      margin-right: 16px;
    }

    @media #{$break-xs} {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  &__detail {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__name,
  &__role,
  &__journal,
  &__affiliation__name,
  &__affiliation__location {
    text-align: left;
    
    @media #{$break-xs} {
      text-align: center;
    }
  }

  &__journal {
    height: auto;
    @include clamp(1);
  }

  &__more {
    height: auto;
    padding: 0;
    padding-top: 16px;
    
    @media #{$break-md} {
      padding-top: 8px;
    }
  }
}
