.Tooltip.Tooltip {
  border-radius: 3px;

  &--dark {
    background: var(--color-text);

    .Tooltip {
      &__arrow {
        &:after {
          color: var(--color-text);
          content: "\e983";
        }
      }

      &__title,
      &__content,
      &__content:before {
        color: var(--color-bg);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
