{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": false,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "bracketSpacing": true
}
