@import '@lau.ra/styles/src/main.scss';
@import '@lau.ra/styles/src/fonts/chillax/css/chillax.css';
@import '@lau.ra/styles/src/fonts/synonym/css/synonym.css';
@import '../src/scss/css-vars.scss';
@import '../src/scss/grid.scss';

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
  font-family: var(--font-family-primary);
}

p {
  font-family: var(--font-family-secondary);
}
