@import "../../../../packages/styles/src/config/config.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 64px;
  height: 64px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  &__logo {
    font-family: var(--font-family-primary);
    font-size: 36px;
    color: var(--color-primary);
    font-weight: 700;

    span {
      color: var(--color-text);
    }
  }

  &__link {
    &__list {
      display: flex;
    }

    &__item {
      margin-left: var(--layout-gap);
      a {
        font-family: var(--font-family-primary);
        font-weight: 400;
        min-width: var(--layout-col-1);
        text-align: center;
        display: block;
        text-transform: uppercase;
      }
    }
  }
}
