body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-family-secondary);
  font-size: calc(var(--font-size-base) * 1px);
  padding: 0 var(--layout-gap);
}

$font-sizes-rules: (
  "p": 0,
  "h6": 1,
  "h5": 2,
  "h4": 3,
  "h3": 4,
  "h2": 5,
  "h1": 6
);

@each $selector, $increase in $font-sizes-rules {
  #{$selector}:not([class]),
  .f-size-#{$selector} {
    @if $selector == "p" {
      font-size: getRemUnits(#{var(--font-size-base)});
    } @else {
      font-size: getRemUnits(
        #{calc(var(--font-size-base) * var(--font-rule) * $increase)}
      );
    }
  }
}

h1,
h2,
h3 {
  font-family: var(--font-family-primary);
}

.l-flex {
  display: flex;

  &-row {
    @extend .l-flex;
    flex-direction: row;
  }

  &-grow {
    display: flex;
    flex-direction: row;
  }
}
