body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-family-secondary);
  font-size: calc(var(--font-size-base) * 1px);
  padding: 0 var(--layout-gap);
}

$font-sizes-rules: (
  "p": 16,
  "h6": 16,
  "h5": 24,
  "h4": 36,
  "h3": 54,
  "h2": 81,
  "h1": 122,
  "h0": 182
);

@each $selector, $size in $font-sizes-rules {
  #{$selector}:not([class]),
  .#{$selector} {
    font-size: getRemUnits($size);
  }
}

.l-flex {
  display: flex;

  &-row {
    @extend .l-flex;
    flex-direction: row;
  }

  &-grow {
    display: flex;
    flex-direction: row;
  }
}
