:root {
  --cursor-stroke: var(--color-primary);
}

/* cursor01 */
.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 10000;
  }

  .cursor__inner {
    fill: none;
    stroke: var(--cursor-stroke);
    stroke-width: 1.3px;
  }

  .no-js .cursor {
    display: none;
  }
}

/* trail */

.trail {
  position: relative;
  display: grid;
  place-items: center;
}

.no-js .trail {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.trail__img,
.trail__text {
  position: relative;
  will-change: transform;
  grid-area: 1 / 1 / 2 / 2;
}
