@import '../../../packages/styles/src/main.scss';
@import './animations.scss';

:root {
  --font-family-primary: 'Source Sans Pro', sans-serif;
  --font-family-secondary: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: var(--nav-width);
  padding-right: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body.page-01-transition {
  background: #000;
  font-family: 'Coustard', serif;
  font-weight: 400;
  color: #fff;
  overflow: auto;
  padding-left: 0!important;
}
.single {
  width: 30vh;
  height: 30vh;
  overflow: hidden;
}
main {
  margin-top: var(--eight-rule-4);
  margin-bottom: var(--eight-rule-4);
  margin-left: var(--layout-margin);
  margin-right: var(--layout-margin);
  min-height: 100vh - var(--eight-rule-12);
  width: calc(100vw - var(--nav-width));
}
