:root {

  --blue90: #001959;
  --blue80: #001991;
  --blue70: #0024B0;
  --blue60: #002FCA;
  --blue50: #003BDE;
  --blue40: #0C4DED;
  --blue30: #3673F7;
  --blue20: #6D9EFD;
  --blue10: #AECBFF;
  --blue5: #CEE1FF;
  --blue0: #EEF5FF;

  --sky90: #064B80;
  --sky80: #015B98;
  --sky70: #006EAF;
  --sky60: #0081C2;
  --sky50: #0092D1;
  --sky40: #00A0DC;
  --sky30: #2BB1E8;
  --sky20: #61C4F1;
  --sky10: #9FDAF8;
  --sky5: #C8E9FB;
  --sky0: #F3FAFF;

  --teal90: #264543;
  --teal80: #256662;
  --teal70: #18867D;
  --teal60: #00A091;
  --teal50: #15BCA8;
  --teal40: #31D1BB;
  --teal30: #53E2CC;
  --teal20: #7AEEDB;
  --teal10: #A5F7E8;
  --teal5: #C6FBF1;
  --teal0: #E8FFFB;

  --red90: #59001E;
  --red80: #7D0022;
  --red70: #9F0223;
  --red60: #BD0B25;
  --red50: #D51A2C;
  --red40: #E7323B;
  --red30: #F2575D;
  --red20: #FA8589;
  --red10: #FEB9BB;
  --red5: #FFD6D7;
  --red0: #FFF3F3;

  --orange90: #591804;
  --orange80: #822907;
  --orange70: #A93F0C;
  --orange60: #CB5916;
  --orange50: #E87626;
  --orange40: #FF953E;
  --orange30: #FFB062;
  --orange20: #FFCB8D;
  --orange10: #FFE4BE;
  --orange5: #FFEDD5;
  --orange0: #FFF6EC;

  --purple90: #1D1359;
  --purple80: #2D1D7F;
  --purple70: #402BA3;
  --purple60: #553CC2;
  --purple50: #6C51DC;
  --purple40: #856DF0;
  --purple30: #A589FA;
  --purple20: #C6ACFF;
  --purple10: #E4D3FF;
  --purple5: #EFE4FF;
  --purple0: #F9F5FF;

  --green90: #1B5958;
  --green80: #287863;
  --green70: #389665;
  --green60: #4BAE60;
  --green50: #65C161;
  --green40: #91CF7A;
  --green30: #A6DF93;
  --green20: #BDEBB2;
  --green10: #D8F5D4;
  --green5: #E5FAE5;
  --green0: #F6FFF7;

  --cyan90: #004659;
  --cyan80: #046379;
  --cyan70: #0B8296;
  --cyan60: #139DB0;
  --cyan50: #1DB5C3;
  --cyan40: #31C7D1;
  --cyan30: #52D9E1;
  --cyan20: #80E7ED;
  --cyan10: #B8F2F5;
  --cyan5: #D3F8FA;
  --cyan0: #EEFEFF;

  --grey90: #282828;
  --grey80: #545454;
  --grey70: #7E7E7E;
  --grey60: #A2A2A2;
  --grey50: #BFBFBF;
  --grey40: #D5D5D5;
  --grey30: #E6E6E6;
  --grey20: #F0F0F0;
  --grey10: #F7F7F7;
  --grey5: #F8F8F8;
  --grey0: #FFFFFF;  

  --black: #282828;
  --white: #FFFFFF;
}